.main {
  width: 100%;
  height: 100%;
}
mat-toolbar{
  height: 70px;
}
.example-container {
  width: 100%;
  height: calc(~"100% - 70px");
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: lightgray;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  justify-content: end;
  flex-direction: column;
}

mat-card{
  margin: 10px;
}

.example-sidenav {
  padding: 20px;
  width:90%;

}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.header-bar{
  mat-icon{
    margin:0px 10px;
  }
}

app-menu-button{
  margin: 0px 10px;
  display: flex;
}
