<div class="header">

</div>

<div class="main">
  <div class="layer1">
    <img src="../assets/map.PNG">
  </div>
  <app-place-details name="attraction"
                     rating="5 stars"
                     description=" Lorem ipsum dolor sit amet, accumsan inciderint ei vix, eam cu nonumy ceteros. Doctus probatus insolens his           ea, sit dolore graecis vivendum ei. Ad eam laboramus reprimique reprehendunt. Quo oblique euismod           concludaturque ne, repudiare"
                     maxHeight='calc(100% - 50px)'>
  </app-place-details>

</div>
